@charset "UTF-8";


/*----------  Estilos para Impressoras  ----------*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: "Esse srtigo foi impreesso atraves do site joaquim.com";
}

article {
    width: 100%;
}